<h1>Header 1, Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:<b>
- Jupyter Notebook
- Multi-language Support
- Interactive Data Science
- Community and Open Source
- Integration with Cloud Services
 <br> <b> List popular languages for Data Science <b>
- Python
- R
- SQL
- Java
- Julia
- Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Datasciencetools |
| :--------------: | 
| Jupyter Notebook |
| RStudio |
| Apache Spark |

In [3]:
<h3> Below are a few examples of evaluating arithmetic expressions in Python <h3>
The sum of 2 and 3 is $2 + 3 = 5$.

SyntaxError: invalid syntax (3127642435.py, line 1)

<h3> Below are a few examples of evaluating arithmetic expressions in Python <h3>
The sum of 2 and 3 is $2 + 3 = 5$.

In [4]:
/This a simple arithmetic expression to multiply then add integers
(3*4)+5

NameError: name 'This' is not defined

In [5]:
# /This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

hours, minutes = divmod(200, 60)

In [19]:
# This will convert 200 minutes to hours by diving by 60
hours= 200//60
print("seconds value in hours:",hours)

seconds value in hours: 3

<h2> Author: <h2>
Naveen Kumar R